.loginCard {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notFound {
  margin-top: 30px;
  text-align: center;
}

.card {
  margin-top: 20px;
  padding: 20px;
}

.smallCard {
  margin: auto;
  max-width: 500px;
  margin-top: 20px;
  padding: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardActions {
  display: flex;
  justify-content: end;
  gap: 10px;
  flex-wrap: wrap;
}

.inputDialog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialogActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.imgList {
  margin: 0px;
}

.list {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0px;
}

.listItemText {
  word-wrap: "break-word";
}
